.container{


}

.smallhaeder{
	display: -webkit-flex;
	display:         flex;

	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}

.input_text {

}

.searchBtn{

}

.listMenuWrap {
	display: -webkit-flex;
	display:         flex;

	list-style: none;
}

.listMenu {
	flex :1;
	margin-right: 10px;
}

.ContentContainer{
	display: -webkit-flex;
	display:         flex;

	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;

	border: solid 1px black;
}

.content{
	width: 120px;
	height: 180px;
	margin: 30px;

	overflow: hidden;
	border: solid 1px red;
}
